@font-face {
    font-family: "HelveticaNeue";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/HelveticaNeue/helveticaneuew23-reg.woff') format("woff"),
    url('../fonts/HelveticaNeue/helveticaneuew23-reg.ttf') format("truetype"),
    url('../fonts/HelveticaNeue/helveticaneuew23-reg.svg') format("svg");
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: bold;
    src: url('../fonts/HelveticaNeue/helveticaneuew23-bd.woff') format("woff"),
    url('../fonts/HelveticaNeue/helveticaneuew23-bd.ttf') format("truetype"),
    url('../fonts/HelveticaNeue/helveticaneuew23-bd.svg') format("svg");
}

body {
    font-family: "HelveticaNeue", serif;
    font-size: 16px;
}

.no-border-radius {
    border-radius: 0 !important;
}

button.list-group-item {
    width: 100%;
    text-align: right !important;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.dropdown-menu li {
    text-align: right;
}

.gray_color {
    color: #97939b;
    font-size: 0.85em;
}

/* -------- spinner كلاس للأيقونات الدوارة مثل جاري التحميل ... الخ -------------------------------- */
/* <i class="glyphicon glyphicon-repeat spinner"></i> */
.spinner {
    display: inline-block;
    -webkit-animation: rotation 1.2s infinite ease-out;
    -moz-animation: rotation 1.2s infinite ease-out;
    -o-animation: rotation 1.2s infinite ease-out;
    animation: rotation 1.2s infinite ease-out
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg)
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(359deg)
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(359deg)
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}

/* -------- spinner ---------------------------------- */
.text-align-right {
    text-align: right;
}

.float-right {
    float: right !important;
}

.li-right .media {
    direction: rtl;
}

.li-right .media-body {
    text-align: right;
}

.one_line {
    line-height: 1em;
    overflow: hidden;
    display: inline-block;
    height: 1em;
}

.two-lines {
    line-height: 1.3em;
    overflow: hidden;
    display: inline-block;
    height: 2.6em
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.align-justify {
    text-align: justify;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

